{% extends "base.html" %}
{% block title %}Loading...{% endblock %}
{% block extrahead %}
<link href="{{ STATIC_URL }}djpandora.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">

    function ajax_vote(song_id, value, section){
        vote_section = $(section);
        url = '{% url djpandora_vote %}?song_id=' + song_id + '&vote=' + value
        $.getJSON(url, function(data){
            if(data['status'] == 'success'){
                if(value == 'like'){
                    link = '<a href="#" onclick="javascript:return ajax_vote(' + song_id + ', \'dislike\');">Dislike</a>';
                    $('#voting').html(link);
                    votes = parseInt(vote_section.text());
                    vote_section.text(votes + 1);
                }
                else{
                    link = '<a href="#" onclick="javascript:return ajax_vote(' + song_id + ', \'like\');">Like</a>';
                    $('#voting').html(link);
                    votes = parseInt(vote_section.text());
                    vote_section.text(votes - 1);
                }
            }
        });
    }

    function update_progress(){
        if (typeof progress == 'undefined'){
            return;
        }
        progress += 1;
        if (progress > 0){
            value = progress / length * 100;
        }
        else{
            value = 0
        }
        $('#time-left').progressbar("option", "value", value);
    }

    function update_voting_display(data){
        vote_html = ''
        if(data['upboat_avail'] && data['downboat_avail']){
            vote_html = '<a href="#" onclick="javascript:return ajax_vote(' + data['song_id'] + ', \'like\', \'#vote-count\');">Like</a> - <a href="#" onclick="javascript:return ajax_vote(' + data['song_id'] + ', \'dislike\', \'#vote-count\');">Disike</a>';
        } else if (data['upboat_avail'] && !data['downboat_avail']){
            vote_html = '<a href="#" onclick="javascript:return ajax_vote(' + data['song_id'] + ', \'like\', \'#vote-count\');">Like</a>';
        } else {
            vote_html = '<a href="#" onclick="javascript:return ajax_vote(' + data['song_id'] + ', \'dislike\', \'#vote-count\');">Dislike</a>';
        }
        $('#voting').html(vote_html);
        $('#vote-total').html('Votes: <span id="vote-count">' + data['vote_total'] + '</span>');
    }

    function update_station_polling_display(data){
        if(data['station_vote']){
            $('#station-link-item').text('Stations (VOTE IN PROGRESS)');
        }else{
            $('#station-link-item').text('Stations');
        }
        if(data['station_up']){
            $('#station-up').show();
        } else {
            $('#station-up').hide();
        }

        if(data['station_down']){
            $('#station-down').show();
        } else {
            $('#station-down').hide()
        }
    }

    function display_playlist(data){
        playlist_html = '<ul>';
        for (i=0; i<data.length; i++){
            playlist_html += '<li>' + data[i]['title'] + ' by ' + data[i]['artist'] + '</li>';
        }
        playlist_html += '</ul>';
        $('#playlist').html(playlist_html);
    }

    function display_recents(data){
        recent_html = '<ul>';
        for (i=0; i<data.length; i++){
            recent_html += '<li>';
            recent_html += data[i]['title'] + ' by ' + data[i]['artist']; 
            recent_html += ' (<span id="song-' + data[i]['song_id'] + '">' + data[i]['vote_total'] + '</span>)';
            if(data[i]['upboat_avail'] && data[i]['downboat_avail']){
                recent_html += '<a href="#" onclick="javascript:return ajax_vote(' + data[i]['song_id'] + ', \'like\', \'#song-' + data[i]['song_id'] + '\');">+</a> <a href="#" onclick="javascript:return ajax_vote(' + data[i]['song_id'] + ', \'dislike\', \'#song-' + data[i]['song_id'] + '\');">-</a>';
            } else if (data[i]['upboat_avail'] && !data[i]['downboat_avail']){
                recent_html += '<a href="#" onclick="javascript:return ajax_vote(' + data[i]['song_id'] + ', \'like\', \'#song-' + data[i]['song_id'] + '\');">+</a>';
            } else {
                recent_html += '<a href="#" onclick="javascript:return ajax_vote(' + data[i]['song_id'] + ', \'dislike\', \'#song-' + data[i]['song_id'] + '\');">-</a>';
            }
        }
        recent_html += '</ul>';
        $('#recent').html(recent_html);
    }

    function update_playing(){
        url = '{% url djpandora_status %}'
        $.getJSON(url, function(data){
            if (data['title'] == 'null'){
                $('#song-loading').show();
                $('#song-information').hide();
            }
            else {

                // Update a large portion of the page
                document.title = data['title'] + ' by ' + data['artist'] + ' - DjPandora';
                $('#song-loading').hide();
                $('#song-information').show();
                $('#song-name').text('Song: ' + data['title']);
                $('#artist-name').text('Artist: ' + data['artist']);
                $('#station').text('Station: ' + data['station']);
                $('#time-left').progressbar( "option", "value", data['time']);
                $('#volume-slider').slider('option', 'value', data['volume'] * 100);

                // Update various displays
                update_voting_display(data['voting']);
                update_station_polling_display(data['station_voting']);
                display_playlist(data['upcoming']);
                display_recents(data['recents']);

                // Update our progress and length
                progress = data['progress'];
                length = data['length'];
                
            }
        });
    }

    function station_check(){
        url = '{% url djpandora_stations %}';
        $.getJSON(url, function(data){
            $('#stations').html('<ul id="station-list"></ul>');
            $.each(data.items, function(i, item){
                if (data.poll){
                    if (item.fields['polling']){
                        station_html = '<li id="station-number-' + item.pk + '"><span class="warning">' + item.fields['name'] + '</span>  <a href="#" id="station-up" onclick="javascript: return station_vote(' + item.pk + ', 1);"><span class="warning">+</span></a> <a href="#" id="station-down" onclick="javascript: return station_vote(' + item.pk + ', -1);"><span class="warning">-</span></a>  (<span style="color: black;" id="station-vote-total">' + item['fields']['vote_total'] + '</span>)</li>';
                    } else {
                        station_html = '<li id="station-number-' + item.pk + '">' + item.fields['name'] + '</li>';
                    }
                } else {
                    station_html = '<li id="station-number-' + item.pk + '"><a href="#" onclick="javascript:return station_poll(' + item.pk + ');">' + item.fields['name'] + '</a></li>';
                }
                $('#station-list').append(station_html);
            });
        });

    }

    function station_poll(station_id){
        url = '{% url start_station_vote %}?station_id=' + station_id;
        $.getJSON(url, function(data){
           $('#station-link-item').text('Stations (VOTE IN PROGRESS)');
        });
        $('#stations').html('<ul id="station-list"></ul>');
        station_vote(station_id, 1);
        station_check();
    }

    function station_vote(station_id, value){
        url = '{% url station_vote %}?station_id=' + station_id + '&value=' + value;
        $.getJSON(url, function(data){
           // Might want to do something here at some point
        });
        vote_total = $('#station-vote-total').text();
        $('#station-vote-total').text(parseInt(value) + parseInt(vote_total));
        if (value == 1){
            $('#station-up').hide();
            $('#station-down').show();
        }else{
            $('#station-up').show();
            $('#station-down').hide();
        }
    }

    function update_volume(event){
        var volume_level = $( "#volume-slider" ).slider( "option", "value" );
        url = '{% url volume_control %}?volume=' + volume_level;
        $.getJSON(url, function(data){
            // Might want to do something here some day
        })
    }

    $(document).ready(function(){
        var progress = 0;
        var length = 0;
        $( "#accordion" ).accordion();
        $('#time-left').progressbar({value: 0});
        $('song-information').hide();
        update_playing();
        station_check();
        $('#volume-slider').slider({
            value: 50,
            min: 0,
            max: 100,
            stop: function(event, ui){
                update_volume(event);
            }
        });
        setInterval('update_playing()', 15000);
        setInterval('station_check()', 30000);
        setInterval('update_progress()', 1500);
    });

</script>
{% endblock %}
{% block content %}
    <div id="main-content">
        <div id="accordion">
            <h3><a href="#">DjPandora</a></h3>
            <div>
                <p>
                Welcome to DjPandora. Please see the sections below to vote on songs or stations, as well as see upcoming songs.
                </p>
            </div>
            <h3><a href="#">Song Information</a></h3>
                <div class="tall-pane">
                    <p id="song-loading">Loading...</p>
                    <ul id="song-information">
                        <li id='station'></li>
                        <li id='song-name'></li>
                        <li id='artist-name'></li>
                        <li id='vote-total'></li>
                        <li id='voting'></li>
                        <li id='time-left'></li>
                    </ul>
                </div>
            <h3><a href="#">Upcoming Songs</a></h3>
                <div id='playlist'></div>
            <h3><a href="#" id="station-link-item">Stations</a></h3>
                <div id='stations' class="tall-pane"><ul id="station-list"></ul></div>
            <h3><a href="#" id="recently-played">Recently Played</a></h3>
                <div id="recent" class="tall-pane"></div>
            <h3><a href="#" id="djadmin">Admin</a></h3>
                <div id='admin-zone' >
                    <h4>Volume</h4>
                    <div id="volume-slider"></div>
                </div>
        </div>
    </div>
{% endblock %}