{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block extrahead %}
<script type="text/javascript">

    function ajax_vote(song_id, value){
        url = '{% url djpandora_vote %}?song_id=' + song_id + '&vote=' + value
        $.getJSON(url, function(data){
            if(data['status'] == 'success'){
                if(value == 'like'){
                    link = '<a href="#" onclick="javascript:return ajax_vote(' + song_id + ', \'dislike\');">Dislike</a>';
                    $('#voting').html(link);
                }
                else{
                    link = '<a href="#" onclick="javascript:return ajax_vote(' + song_id + ', \'like\');">Like</a>';
                    $('#voting').html(link);
                }
            }
        });
    }

    function update_playing(){
        url = '{% url djpandora_status %}'
        $.getJSON(url, function(data){
            $('#song-name').text('Song: ' + data['title']);
            $('#artist-name').text('Artist: ' + data['artist']);
            $('#vote-total').text('Votes: ' + data['votes']);
            $('#station').text('Station: ' + data['station']);
            $('#time-left').text('Time Remaining: ' + data['time']);
            $('#playlist').html(data['upcoming']);
        });
    }

    $(document).ready(function(){
        update_playing();
        setInterval('update_playing()', 15000);
    });

</script>
{% endblock %}
{% block content %}
	<h1>Welcome to DjPandora</h1>
	<h3>Currently Playing</h3>
	<ul>
        <li id='station'>Station: {{ song.station }}</li>
		<li id='song-name'>Song: {{ song }}</li>
		<li id='artist-name'>Artist: Placeholder{{ song.artist }}</li>
		<li id='vote-total'>Votes: Placeholder{{ song.votes }}</li>
		<li id='voting'>{% if upboat_avail %}<a href="#" onclick="javascript:return ajax_vote({{ song.id }}, 'like');">Like</a>{% endif %} {% if downboat_avail %}<a href="#" onclick="javascript:return ajax_vote({{ song.id }}, 'dislike');">Dislike</a>{% endif %}</li>
        <li id='time-left'>Time Remaining: 1:15</li>
	</ul>
    <div id='playlist'>
    </div>
{% endblock %}