#main-content {
    width: 400px;
}

#main-content ul {
    list-style-type: none;
}

#album-art {
    float: left;
    padding-right: 20px;
}
#album-art img {
    width: 150px;
    height: 150px;
}

.warning {
    color: #EE0000;
}

.tall-pane {
    height: 250px;
}
